<% title @snippet.name %>

<div class="showcase kiwibox">
  <div class="ribbon"><%= "#{@snippet.category}: #{@snippet.name}" %></div>
  <div id="kiwi-rendered-source">
  </div>
</div>

<div class="html kiwibox">
  <div class="ribbon">html</div>
  <%= text_area_tag nil, @snippet.html, class: "mono", id: "kiwi-html-source" %>
</div>

<div class="css kiwibox">
  <div class="ribbon">css</div>
  <%= text_area_tag nil, @snippet.css, class: "mono", id: "kiwi-scss-source" %>
</div>

<div class="clear"></div>

<% if can? :manage, Snippet %>
  <%= link_to 'Edit', edit_snippet_path(@snippet) %> |
  <%= link_to 'Back', snippets_path %>
<% end %>

