<!DOCTYPE html>
<html>
<head>
  <title><% if content_for? :title %><%= yield :title %> &mdash; <% end %>kiwi</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= yield(:head) %>
  <%= csrf_meta_tags %>
</head>
<body>
    <%= render partial: "shared/header" %>
  <div class="container-fluid">
    <div class="grid">
      <div class="col-1-4">
        <%= render partial: "shared/nav" %>
      </div>
        <% flash.each do |k, v| %>
          <div class="kiwiflash <%= k %>"><%= v %></div>
        <% end %>

      <%= yield %>
    </div>
  </div>
</body>
</html>

